<section class="hero">
    <div class="container hero-container">
        <div class="hero-text">
            <h1 class="hero-text-h">Organic vegetables to your diet today!</h1>
            <p class="hero-text-p">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest
            Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        </div>
            <!-- Desktop img -->
            <img class="img-hero"
             srcset="./img/hero-foto/Vegetables-Desk.jpg 1x, 
             ./img/hero-foto/Vegetables-Desk-2x.jpg 2x," 
             src="./img/hero-foto/Vegetables-Desk.jpg" alt="Organic Vegetables" width="650px" height="800px">
            <!-- Tablet img -->
            <img class="img-hero"
            srcset="./img/hero-foto/Vegetables-Tab.jpg 1x, ./img/hero-foto/Vegetables-Tab-2x.jpg 2x"
            src="./img/hero-foto/Vegetables-Tab.jpg"
            alt="Organic Vegetables" width="768px" height="539px">
            <!-- Mobile img -->
            <img
            srcset="./img/hero-foto/Vegetables-Mob.jpg 1x, ./img/hero-foto/Vegetables-Mob-2x.jpg 2x"
            src="./img/hero-foto/Vegetables-Mob.jpg" 
            alt="Organic Vegetables" width="375px" height="370px">
             
        
    </div>
</section>

