<div class="back-drop">
  <div class="mob-menu">
    <div class="mob-menu-top">
      <button type="button" class="mob-close-menu-btn">
        <svg class="mob-close-menu-icon" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-x-1"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-nav-list">
          <li class="mob-menu-nav-item">
            <a class="mob-menu-link mob-link-first" href="">How It Works</a>
          </li>
          <li class="mob-menu-nav-item">
            <a class="mob-menu-link" href="">Vegetables</a>
          </li>
          <li class="mob-menu-nav-item">
            <a class="mob-menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="mob-meny-shop-btn" type="button">shop now</button>
  </div>
</div>
