<section class="vegetable">
    <div class="container">
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p> -->
        <h2 class="vegetables-title">organic <span class="veget-span">vegetables</span></h2>
        <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep, ensuring that you get
            the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">eggplant</h3>
                <p class="vegetables-item-text">60 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget1-2x.png 2x 
                    ./img/vegetable/veget1.png 1x"
                    src="./img/vegetable/veget1.png" alt="eggplant" width="282px" height="243px">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">leek</h3>
                <p class="vegetables-item-text">50 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget2-2x.png 2x 
                    ./img/vegetable/veget2.png 1x"
                    src="./img/vegetable/veget2.png" alt="leek" width="282px" height="243px">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">mushrooms</h3>
                <p class="vegetables-item-text">40 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget3-2x.png 2x 
                    ./img/vegetable/veget3.png 1x"
                    src="./img/vegetable/veget3.png" alt="mushrooms" width="282px" height="243px">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">corn</h3>
                <p class="vegetables-item-text">60 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget4-2x.png 2x 
                    ./img/vegetable/veget4.png 1x"
                    src="./img/vegetable/veget4.png" alt="corn" width="282px" height="243px">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">sweet potatoes</h3>
                <p class="vegetables-item-text">50 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget5-2x.png 2x 
                    ./img/vegetable/veget5.png 1x"
                    src="./img/vegetable/veget5.png" alt="sweet potatoes" width="282px"
                    height="243px">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-item-title">carrot</h3>
                <p class="vegetables-item-text">40 UAH / kg</p>
                <img class="vegetables-item-image" srcset="./img/vegetable/veget6-2x.png 2x 
                    ./img/vegetable/veget6.png 1x"
                    src="./img/vegetable/veget6.png" alt="carrot" width="282px" height="243px">
            </li>
        </ul>
    </div>
</section>