.footer {
    background-color: #7A3145;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-top-wrap {
    margin-bottom: 40px;
}

.footer-main-wrap {
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 14px;
    fill: #fbfbfb;
}

.footer-logoicon {}

.footer-logotext {
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
}

.footer-bottom-wrap {
    margin-bottom: 80px;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.footer-link {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-contacts-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    display: block;
    width: 179px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-list {
    display: flex;
    align-items: center;
}

.footer-bottom-list-item {
}

.footer-bottom-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    display: block;
}

.footer-priv::after {
    content: "/";
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    margin-left: 8px;
    margin-right: 8px;
}

.footer-bottom-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.footer-bottom-part-item {}


/* todo==========================MEDIA============================== */

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer-top-wrap {
        margin-bottom: 0;
    }

    .footer-main-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .footer-logo {
        margin-bottom: 25px;
        gap: 8px;
    }

    .footer-logotext {
        width: 168px;
        height: 15px;
    }

    .footer-logoicon {
        width: 18px;
        height: 18px;
    }

    .footer-text {
        width: 265px;
        font-size: 16px;
        line-height: 1.25;
    }

    .footer-bottom-wrap {
        margin-bottom: 100px;
    }

    .footer-links-list {
        gap: 25px;
        margin-bottom: 64px;
    }

    .footer-link {
        font-size: 32px;
    }

    .footer-contacts {
        gap: 25px;
    }

    .footer-contacts-item {
        font-size: 18px;
        line-height: 1.11;
        width: 215px;
    }

    .footer-bottom-link {
        font-size: 18px;
        line-height: 1.11;
    }

    .footer-bottom-text {
        font-size: 18px;
        line-height: 1.11;
    }
}

@media screen and (min-width: 1280px) {

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-bottom-wrap {
        display: flex;
        gap: 121px;
        margin-bottom: 125px;
    }

    .footer-links-list {
        margin-bottom: 0;
    }
}