.hero {
    background-color: #576f35;
    width: 375px;
    height: 812px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Mob.jpg);
    background-size: 100% 370px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 auto;
    
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Mob-2x.jpg);
    }
}

.hero-text {
    width: 335px;
    height: 302px;
    padding: 100px 0 0 0;
}

.hero-text-h {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.hero-text-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
}


@media only screen and (min-width: 768px) {
    .hero {
        width: 768px;
        height: 1024px;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Tab.jpg);
        background-size: 100% 539px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Tab-2x.jpg);
        }
    }

    .hero-text {
        width: 704px;
        height: 313px;
        padding: 122px 0 0 0;
    }
    
    .hero-text-h {
        font-size: 76px;
        margin-bottom: 25px;
    }

    .hero-text-p {
        font-size: 16px;
        line-height: 1.25;
    }

}

@media only screen and (min-width: 1280px) {
    .hero {
        width: 1280px;
        height: 800px;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Desk.jpg);
        background-size: 650px 100%;
        background-position: right top;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(../img/hero-foto/Vegetables-Desk-2x.jpg);
        }
    }

    .hero-text {
        padding: 238px 0px 50px 0px;
        width: 502px;
        height: 562px;
    }

    .hero-text-h {
        margin-bottom: 128px;
    }
  }